*.swp
core.*
vgcore.*
*.BACKUP
*.ORG
*.exe
*.o
*.a
*.so
*.so.*
*.so.*.*
*.so.*.*.*
*.bak
*.bin
*.bin1
*.bin2
*.log
*.obj
*.out
*.pyc
*.TextGrid
*.data
*_backup
core.*
a.out
dict
key
log
*.log
*.log.*
source/tts/modules/tester/*.raw
source/tts/modules/tester/*.wav
source/tts/modules/tester/*.log
source/cmph-2.0/bin
source/cmph-2.0/lib
source/cmph-2.0/include
source/cmph-2.0/src/cmph
source/crf++-0.58/bin
source/crf++-0.58/lib
source/crf++-0.58/include
source/htk-3.4.1/bin
source/htk-3.4.1/include
source/htk-3.4.1/lib
source/htk-3.4.1/src/HTKTools/HBuild
source/htk-3.4.1/src/HTKTools/HCompV
source/htk-3.4.1/src/HTKTools/HCopy
source/htk-3.4.1/src/HTKTools/HDMan
source/htk-3.4.1/src/HTKTools/HHEd
source/htk-3.4.1/src/HTKTools/HERest
source/htk-3.4.1/src/HTKTools/HInit
source/htk-3.4.1/src/HTKTools/HLStats
source/htk-3.4.1/src/HTKTools/HList
source/htk-3.4.1/src/HTKTools/HMMIRest
source/htk-3.4.1/src/HTKTools/HParse
source/htk-3.4.1/src/HTKTools/HQuant
source/htk-3.4.1/src/HTKTools/HRest
source/htk-3.4.1/src/HTKTools/HSGen
source/htk-3.4.1/src/HTKTools/HSLab
source/htk-3.4.1/src/HTKTools/HSmooth
source/htk-3.4.1/src/HTKTools/HVite
source/htk-3.4.1/src/HTKTools/HLEd
source/htk-3.4.1/src/HTKTools/HResults
source/crf++-0.58/bin
source/crf++-0.58/lib
source/crf++-0.58/include
source/crf++-0.58/src/crf_learn
source/crf++-0.58/src/crf_test
source/hts-2.1/bin
source/hts-2.1/include
source/hts-2.1/lib
source/hts-2.1/src/HTKTools/HBuild
source/hts-2.1/src/HTKTools/HCompV
source/hts-2.1/src/HTKTools/HCopy
source/hts-2.1/src/HTKTools/HDMan
source/hts-2.1/src/HTKTools/HHEd
source/hts-2.1/src/HTKTools/HERest
source/hts-2.1/src/HTKTools/HInit
source/hts-2.1/src/HTKTools/HLStats
source/hts-2.1/src/HTKTools/HList
source/hts-2.1/src/HTKTools/HMMIRest
source/hts-2.1/src/HTKTools/HParse
source/hts-2.1/src/HTKTools/HQuant
source/hts-2.1/src/HTKTools/HRest
source/hts-2.1/src/HTKTools/HSGen
source/hts-2.1/src/HTKTools/HSLab
source/hts-2.1/src/HTKTools/HSmooth
source/hts-2.1/src/HTKTools/HVite
source/hts-2.1/src/HTKTools/HLEd
source/hts-2.1/src/HTKTools/HResults
source/hts-2.1/src/HTKTools/HLRescore
source/hts-2.1/src/HTKTools/HMGenS
source/json-0.11/include
source/json-0.11/lib
source/json-0.11/bin
source/lame/include
source/lame/lib
source/lame/bin
source/mitlm/include
source/mitlm/lib
source/mitlm/bin
source/mitlm/src/estimate-ngram
source/mitlm/src/evaluate-ngram
source/mitlm/src/interpolate-ngram
source/openfst-1.5.4/bin
source/openfst-1.5.4/include
source/openfst-1.5.4/src/extensions/far/farcompilestrings
source/openfst-1.5.4/src/extensions/far/farcreate
source/openfst-1.5.4/src/extensions/far/farextract
source/openfst-1.5.4/src/extensions/far/farinfo
source/openfst-1.5.4/src/extensions/far/farisomorphic
source/openfst-1.5.4/src/extensions/far/farprintstrings
source/phonetisaurus/bin
source/phonetisaurus/include
source/phonetisaurus/src/phonetisaurus-align
source/phonetisaurus/src/phonetisaurus-arpa2fst
source/phonetisaurus/src/phonetisaurus-g2p
source/phonetisaurus/src/saurus-arpa2wfst-omega
source/silk/include
source/speex/include
source/thrax-1.2.2/bin
source/thrax-1.2.2/src/bin/thraxcompiler
source/thrax-1.2.2/src/bin/thraxrandom-generator
source/thrax-1.2.2/src/bin/thraxrewrite-tester
source/tts/include
source/tts/modules/tester/aria_test.txt
source/flac-1.3.2/include/
source/flac-1.3.2/lib
source/flac-1.3.2/bin
source/ogg-1.3.2/include/
source/ogg-1.3.2/lib
source/ogg-1.3.2/bin
source/opus/include
source/opus/lib
source/opus/bin
source/opus/src/opus_api_demo
source/vorbis-1.3.5/include
source/vorbis-1.3.5/lib
source/vorbis-1.3.5/bin
source/tts/modules/pttsnetd/tvoiced
source/tts/modules/tvoiced/tvoiced
source/tts/modules/pttsnetd/cfg/tvoiced.pid
source/hts-2.3/bin/
source/hts-2.3/include/
source/hts-2.3/src/HTKTools/HBuild
source/hts-2.3/src/HTKTools/HCompV
source/hts-2.3/src/HTKTools/HCopy
source/hts-2.3/src/HTKTools/HDMan
source/hts-2.3/src/HTKTools/HERest
source/hts-2.3/src/HTKTools/HHEd
source/hts-2.3/src/HTKTools/HInit
source/hts-2.3/src/HTKTools/HLEd
source/hts-2.3/src/HTKTools/HLRescore
source/hts-2.3/src/HTKTools/HLStats
source/hts-2.3/src/HTKTools/HList
source/hts-2.3/src/HTKTools/HMGenS
source/hts-2.3/src/HTKTools/HMMIRest
source/hts-2.3/src/HTKTools/HMgeTool
source/hts-2.3/src/HTKTools/HParse
source/hts-2.3/src/HTKTools/HQuant
source/hts-2.3/src/HTKTools/HRest
source/hts-2.3/src/HTKTools/HResults
source/hts-2.3/src/HTKTools/HSLab
source/hts-2.3/src/HTKTools/HSGen
source/hts-2.3/src/HTKTools/HSMMAlign
source/hts-2.3/src/HTKTools/HSmooth
source/hts-2.3/src/HTKTools/HVite
source/sptk-3.7/bin
source/sptk-3.7/lib
source/sptk-3.7/include
source/nndata/bin
train/build_vfont_uts/nohup.out
source/mcrypt-2.5.6/include
source/sndfile-1.0.28/include
source/sox-14.4.2/include
source/tts/modules/pttsnetd/bin/tvoicea
source/tts/tags
source/tts/src/tags
source/hts_engine-1.10/bin
source/hts_engine-1.10/include
source/hts_engine-1.10/src/bin/hts_engine
source/hts_engine-1.10/src/bin/psg_engine
source/tts/modules/tester/*.wav
source/tts/modules/tester/*.txt
source/tts/modules/tester/*.txt2
source/tts/modules/tester/*.log
source/tts/modules/ttsserverd/
source/tts/modules/simulator_git/
*_OLD
source/tts/modules/tester/aria_test.*
source/tts/modules/tester/sample.opus
source/tts/modules/ttssimulator/TTSSimulator/result.out.*
test/single.txt
source/world/bin
source/world/lib
source/world/include
source/world/src/apanalysis
source/world/src/f0analysis
source/world/src/readandsynthesis
source/world/src/spanalysis
source/world/test/*.sp
source/world/test/*.ap
source/world/test/*.f0
source/world/test/*_syn.wav
test/a
*.dat
source/tts/modules/reducer/backup
single.skml
error.skml
sample.raw
sample.raw.*
error.log
